body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    #wd-kambaz .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

.wd-main-content-offset {
    margin-left: 120px;
    /* must match sidebar width */
}

.list-group.wd>.list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}

.btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #f5f5f5;
    --bs-btn-border-color: #d5d5d5;
  }
  
  .bg-secondary {
    --bs-secondary-rgb: 230, 230, 230;
  }
  
  .border-gray {
    border: 1px solid #d5d5d5 !important;
  }
  
  .wd-assignment-green-border {
    width: 4px;
    min-height: 40px;
    background-color: #28a745; /* Bootstrap success green */
  }
  